.privacy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f8f8f8; */
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    margin:120px  100px 70px 100px;
  }
  
  .privacy-image img {
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
  padding-right: 20px;
  }
  
  .privacy-content {
    flex: 1;
    padding-left: 20px;
  }
  
  .privacy-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
  }
  
  .privacy-content ul {
    list-style: none;
    padding: 0;
  }
  
  .privacy-content li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .privacy-content strong {
    /* color: #0073e6; */
    /* font-style: oblique; */
    font-size: 20px;
  }

  @media (max-width: 768px) {
    .privacy-container{
        display: flex;
        width: 90%;
        margin: 60px auto;
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
  }

  /* footer */

  .footer {
    background: #e0e4e7;

    padding: 60px 20px 0 20px;
    max-width: 100%;
    /* margin: 0 7%; */
    padding: 60px 7%;

  }
  .footer {
    /* background: #e0e4e7; */
    /* padding: 60px 20px 0 20px; */
    max-width: 100%;
    /* margin: 0 7%; */
    padding: 5px 7% 2px 10%;
    background-color: rgb(235, 235, 250);
    

  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-section h3 {
    font-weight: bold;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .certificates img {
    width: 60px;
    margin-left: 15px;
   
  }
  .certificates .image1 {
    width: 130px;
    margin: 10px;
   
  }
  .image{
    width: 80px;
  }
  select {
    width: 100%;
    padding: 5px;
  }
  
  .footer-bottom {
    text-align: center;
    background: #6c848e;
    color: white;
    padding: 10px 10px 0px 10px ;
    margin-top: 20px;
  }
  


  @media (max-width: 768px) {
    .footer{
      margin: 0;
      padding: 20px;
    }
    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      max-width: 100%;
      text-align: center;
    }
  
    .certificates {
      display: flex;
      justify-content: center;
    }
  }
  
  .buttons{
    margin-top: 40px;
    display: flex;
    justify-content: right;
  }