/* 1111111111111111 *//* General container styling */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 86%;
    /* padding: 140px 140px; */
    /* color: white; */
    margin: 0 7%;
    margin-top: 80px;
    background-color: rgb(246, 245, 243);
    
    /* background-color: rgb(10, 69, 246); */
}
.main{
  background-color: white;
  
}
  
  .hero-text {
    /* width: 600px; */
    /* min-width: 600px; */
    /* width: 70%; */
    max-width: 800px;
    margin: 150px 150px 20px 100px;
 text-align: start;
    height: 400px;
    align-items: center;
padding-top: 70px;
    /* background-color: red; */

  }
  
  .subheading {
    color: rgb(33, 73, 110);
    /* color: rgb(31, 217, 217); */
    font-size: 18px;
    font-weight: bold;
  }
 
  .head {
    font-size: 30px;
    /* color:rgb(255, 255, 255); */
    color: rgb(58, 58, 123);
    font-weight: bold;
    margin-top: 10px;
    text-align: start;
   
  }
  
  .features {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .features li {
    margin: 10px 0;
  }
  
  /* Button Styling */
  .button{
    margin-top: 10px;
    display: flex;
    gap: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    
  }
  
  .btn {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease;
  }
  
  .btn-primary {
    background-color:orange;
    color: white;
  }
  
  .btn-secondary {
    background-color: #ccc;
    color: black;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  /* Image Styling */
  .hero-image {
    margin-top: 30px;

   /* background-color: red; */
  }
  .hero-image img{
    margin: 80px 40px 40px;
    width: 500px;
    height: 400px;
    /* background-size:contain; */
  }  
  .responsive-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Design */
  @media (min-width: 700px) {
    .hero-container {
      flex-direction: row;
      /* justify-content: space-between; */
      text-align: left; 
      width: 86%;
      margin: 70px 7%;
      /* margin-top: 10px; */
     
  
    }
    

    .hero-text {
      max-width: 50%;
      margin: 0px 40px 20px 40px;
      padding-top: 0px;
      /* margin: 0 10px;
       
      padding:0  10px;
     height: 100px; */
    
    }
  
    .hero-image {
      max-width: 50%;
      margin: 0 10px;
    }
  }
  @media (max-width: 700px) {
    .hero-container {
      flex-direction: column;
      /* justify-content: space-between; */
      text-align: left; 
      width: 90%;
      margin: 0px 5%;

    }
  }


  /* 2222222222222222 */
  /* General container styling */

  .steps{
    font-size: 30px;
    font-weight: 600;
    color: rgb(42, 16, 240);
    width: 86%;
    margin: 5px 7% 0 7%;
    padding: 20px 0px 0px 0px;
    background-color: white;
  }
.ballot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 40px 20px; */
   padding: 20px 40px;
    margin: 0px 7%;
    width: 86%;
  }
  
  .ballot-image {
    margin-bottom: 20px;
   padding: 20px;
  }
 
  .he h1{
    width: 86%;
    margin: 0 7%;
    /* padding: 30px 75px; */
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    /* background-color: rgb(188, 201, 209); */
  }
  .he span{
    color: blue;
  }
  /* Responsive Image */
  .responsive-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .one{
    background-color: #ddedfd;
  }
  .two{
    /* background: #e3dfe4; */
  }
  
.ste{
  /* margin-top: 0; */

}
  /* Text Styling */
  .ballot-text {
    max-width: 700px;
    height: auto;
  }
  
  .tip {
    font-size: 16px;
    color: #3a6ea5;
    font-weight: bold;
  }
  
  .heading {
    font-size: 28px;
    font-weight: bold;
    color: #002147;
    margin-top: 10px;
  }
  
  .description {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
  }
  
  .features {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
  }
  
  .features li {
    margin: 8px 0;
  }
  
  .more-info {
    font-size: 16px;
    margin-top: 15px;
    color: gray;
  }
  
  /* Responsive Design */
  @media (min-width: 768px) {
    .ballot-container {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  
    .ballot-image {
      max-width: 50%;
      margin-right: 30px;
    }
  
    .ballot-text {
      max-width: 50%;
    }
  }
  

 
  
  /* footer */
  .footer {
    background: #e0e4e7;
    padding: 60px 20px 0 20px;
    max-width: 100%;
    /* margin: 0 7%; */
    margin-top: 20px;
    padding: 60px 7%;

  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-section h3 {
    font-weight: bold;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .certificates img {
    width: 60px;
    margin-left: 15px;
   
  }
  .certificates .image1 {
    width: 130px;
    margin: 10px;
   
  }
  .image{
    width: 80px;
  }
  select {
    width: 100%;
    padding: 5px;
  }
  
  .footer-bottom {
    text-align: center;
    background: #6c848e;
    color: white;
    padding: 10px;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .footer{
      margin: 0;
      padding: 20px;
    }
    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      max-width: 100%;
      text-align: center;
    }
  
    .certificates {
      display: flex;
      justify-content: center;
    }
  }
  